<div id="footer">
	<div class="row">
		<div class="small-12 columns">
		<p>This project to document put pixels on thread is by <a href="http://skinnywhitegirl.com">Crystal Beasley</a> a.k.a. <a href="http://twitter.com/skinny">@skinny</a>. I have a lifelong fascination with <a href="http://skinnywhitegirl.com/blog/category/pielabpdx/">behavior</a> and <a href="http://www.youtube.com/watch?v=9P4q-Jt851Y">ritual</a>, especially those where the participants reach some trance-like state. I experienced this firsthand in the form of speaking in tongues as a member of a fundamentalist church in the American South. These images capture a moment of transcendence.</p>

		
			<p>I <i class="icon-heart"></i> to hear from you: <a href="mailto:crystal@skinnywhitegirl.com"><i class="icon-envelope-alt icon-large"></i></a><a href="https://twitter.com/skinny"><i class="icon-twitter-sign icon-large"></i></a><a href="https://www.linkedin.com/in/crystalbeasley"><i class="icon-linkedin-sign icon-large"></i></a><a href="http://feeds.feedburner.com/PersonAndPlace"><i class="icon-rss icon-large"></i></a></p>
			
		</div>
	</div>
</div> <!-- /footer -->

</body>
</html>
